[2017-01-25 00:44] ans-4175 opened #1 "Make it lazy load pagination for huge data?"
- Should be next page only

- Or get total data then paginate for request

[2017-01-25 00:48] ans-4175 opened #2 "Cannot re-render?"
Looking through https://imballinst.github.io/react-bs-datatable/
I put search text and changed number show options per page.
But it won't rendered, any misconfig on your gh-pages ?

[2017-01-25 01:14] Imballinst commented on #2
Hi there!

I'm sorry I couldn't reproduce your problem with Chrome 55.0.2 and Firefox 50.1. I think, if the table doesn't render any row, your search text doesn't find any matching column in the given dataset. Could you give the steps to reproduce it and if possible, the screenshot as well, so I can analyze it further? Thanks

[2017-01-25 01:41] ans-4175 commented on #2
Changed to third page
![screenshot from 2017-01-25 08 39 40](https://cloud.githubusercontent.com/assets/3961872/22274572/dab74556-e2d9-11e6-98bd-4622c21f26a2.png)

Then search `brandy`, nothing result.
![screenshot from 2017-01-25 08 40 20](https://cloud.githubusercontent.com/assets/3961872/22274583/eef194fe-e2d9-11e6-8a2b-8692132ab4cb.png)

Looks like searching only works in first page?

[2017-01-25 02:46] Imballinst commented on #2
You're right, there's a pagination problem when filtering on the pages other than the first one. My guess is that when the user filters the data, the "current pagination before filter" persists.

1. User A switches to page 3 (page state on the table set to 3)
2. User A enters a text to the input field
3. This causes the entire dataset to be filtered based on A's input. Therefore, the table that on

[2017-01-25 03:46] Imballinst commented on #1
It was my mistake I didn't think about huge amount of data when I first developed it. Probably I will implement them both, according to (http://uxmovement.com/navigation/avoid-the-pains-of-pagination/) that sometimes, when the number of pages is too big, it's not necessary to show the current page number because it doesn't encourage the user to view until the last page. However, if the number of p

[2017-01-26 01:20] Imballinst commented on #2
@ans-4175 Hi, I just pushed a commit that should fix this issue. Please check the [Github Page of this repo](https://imballinst.github.io/react-bs-datatable/) to see whether this issue has been resolved or not

[2017-01-26 01:25] ans-4175 commented on #2
Still has a bug. If I put text to search, then only produced one result. I still can click next page button, so it will show empty results. Shouldn't be disabled the pagination button?

[2017-01-26 03:08] Imballinst commented on #2
My bad, missed a logic on empty-dataset pagination. How is it [now](https://imballinst.github.io/react-bs-datatable)?

[2017-01-26 03:30] ans-4175 commented on #2
Good, works perfectly :)

[2017-01-26 03:30] #2 closed

[2017-02-03 03:36] ans-4175 opened #3 "sortedData and filterData"
Hey, maybe you could change your sorting implementation using lodash  or something lightweight like this

[code]

[2017-02-03 07:17] #3 closed

[2017-05-06 15:37] Imballinst opened #4 "Internal state problem after data update"
How to reproduce:

1. Load data with more than one page
2. Go to the last page
3. Reduce the number of data shown in the table by providing less data
4. The paging number will "gone", but clicking "first" will fix it

Hypothesis: probably something to do with the internal state when updating the data, it should have reset the table state, including the sorting and filter features.

[2017-05-07 07:57] #4 closed

[2017-05-18 04:51] Imballinst opened #5 "Fix filter content on anchor elements"
Current state: can't filter anchor elements
How it supposed to work: the table still filters them just like plain texts

[2017-05-18 06:59] #5 closed

[2017-05-22 13:56] Swarna-Jain opened #6 "Remove Paging options and pagination form table"
Ho can I remove or hide pagination and paging options in data table?

[2017-05-23 01:01] Imballinst commented on #6
I actually set it in the `defaultProps`.
[code]
Yeah, I think you're right, I should have made a way for people who want their whole data appear without pagination. I think it this way: we need to pass `undefined` to `rowsPerPage` and `rowsPerPageOption` to disable the table pagination. What do you think?

[2017-05-23 04:47] Swarna-Jain commented on #6
If it is being done at the time of implementation (rowsPerPage ={undefined} & rowsPerPageOption={undefined} Datatable assumes default.. I actually want to hide both of the options from Data table display rather than disable only... if it is possible to put control over  visibility. like .. pagination = "disabled" or pagination = {false} and pagination will be disappeared. as well as rowsPerPageOpt

[2017-05-23 05:30] Imballinst commented on #6
Um, I mean, I set them (`defaultProps.rowsPerPage` and `defaultProps.rowsPerPageOption`) to `undefined` too. I think it's cleaner than adding a new props, because if someone doesn't define rows per page and rows per page option props, that means he/she doesn't want to use the pagination, isn't it?

[2017-05-23 05:31] Swarna-Jain commented on #6
That's cool ...

[2017-05-23 05:32] Imballinst commented on #6
Okay, I'll work on it soon!

[2017-05-23 05:32] Swarna-Jain commented on #6
Thanks

[2017-05-23 06:44] Imballinst commented on #6
Hi, kindly check my PR: https://github.com/Imballinst/react-bs-datatable/pull/7
If you want to test it live: https://imballinst.github.io/react-bs-datatable/beta/1.1.12/

[2017-05-23 06:48] Swarna-Jain commented on #6
It's exact what I want...

[2017-05-23 06:50] Imballinst commented on #6
Alright, I'll merge the branch and I'll publish it to NPM after, should you have any more suggestions/issues, feel free to file another issue! :)

[2017-05-23 06:50] #6 closed

[2017-07-24 18:38] Styvak opened #8 "HTML code crash filtering"
I have a property with an html button to link to and other url, on the header filterable is false but when I use the search I have an error :
Uncaught TypeError: Cannot read property 'toLowerCase' of undefined

It is possible to display an html object with the database ?

Thanks

[2017-07-25 01:30] Imballinst commented on #8
Hello!

It **should** be possible, according to https://github.com/Imballinst/react-bs-datatable/blob/master/src/index.js#L179

[code]
When you have an HTML object, the table will get the last children of it, say:
[code]
In this case, the `.getLastChildren()` should return the "Text" string, just like the example on https://imballinst.github.io/react-bs-datatable/. Would you like to tell me the HT

[2017-07-26 15:22] Styvak commented on #8
It works thanks ! I just have to add a text at last children

[2017-07-26 15:45] Imballinst commented on #8
You're welcome! My pleasure to help :)
Thanks for reporting this, too, I realized some points that I missed when I made the `filterData()` function (will fix next version):

1. I should have used `.isPropFilterable()` at the beginning of the [loop](https://github.com/Imballinst/react-bs-datatable/blob/master/src/index.js#L176) instead of at the end, so your case when `filterable` is set to `false`

[2017-07-26 15:45] #8 closed

[2017-11-16 10:25] NormanDenayer opened #11 "Custom position for filter input field, pagination options, and page navigation"
Hello,

After looking at the README, I noticed this point in the "next features" section:

And, indeed I can imagine many people may desire another layout for the table.
But I don't think it's a good idea to implemented it in the library itself.

If someone want to change the layout, the Datatable class may be extended and the render() function overwritten to put the components wherever he wants.

[2017-11-16 11:03] Imballinst commented on #11
Back then (and maybe until now), I think it would be easier for any user if there is something like this as props:
[code]
or some sort of that. But now you mention that idea, yeah I think it's better to just extend the table and override the `render()` function as they could result in the same thing (with better flexibility). It also means less features to be made and maintained (yay?). Great poin

[2017-11-21 05:18] Imballinst commented on #11
Hello, when you have time, please kindly check this PR https://github.com/Imballinst/react-bs-datatable/pull/12

Thanks :)

[2017-11-27 05:45] #11 closed

[2017-12-14 10:23] NormanDenayer opened #13 "src/*.js cannot be imported"
Hello,
I didn't had the chance to test the last big changes earlier.
I tried to update this morning and had the surprise to see the sources to import to customize the table contains JSX syntax, which is fine in some cases but if [CRA](https://github.com/facebookincubator/create-react-app) is used, the build fails with, for example:

[code]

I think, it would be better to compile/distribute those s

[2017-12-14 12:52] Imballinst commented on #13
Hello! First, sorry for the hasty push, because you weren't responding for 1 week, I thought I should push it right away.

I actually didn't test it with projects using CRA. Very well, I'll look into it. From what I have read from your explanation, will CRA not compile JSX from vendor modules?

Regarding build to separate 'libs', do you mean compiling every file in `src/*.js` so they can be used w

[2017-12-14 14:11] NormanDenayer commented on #13
Hey, no problem, I was late to reply, perfectly normal to push your changes (don't wait for me next time).

It's my understanding.

Correct.

I think react-bootstrap (where you can import from /lib/ each sub-component individually) can be a starter.

[2017-12-14 14:18] Imballinst commented on #13
Alright, cool! I'll try to fix this ASAP

[2017-12-19 01:50] Imballinst commented on #13
Hello, could you see and check my PR #14 when you have time? Just to make sure the solution is working in general, not just for me ;) thanks!

[2017-12-25 21:00] NormanDenayer commented on #13
Great, your patch works fine to me :-).
Thank you and happy new year!!!

[2017-12-26 01:46] Imballinst commented on #13
That's great to know! :D
You're welcome and happy new year too! Will merge this later in the day.

[2017-12-26 14:57] #13 closed

[2018-06-04 18:32] chasen-bettinger opened #15 "Linking an entry to another page"
Thanks for your superb work on this data table library.

I would like to link each row to its own page. I didn't see this function in the documentation so I thought I would ask. I assume if I want that feature I would need to fork and add it?

[2018-06-04 20:22] chasen-bettinger commented on #15
Hmm.. I don't really want to link the _cell_, I want to link the _row_.

For example in lines 25-27 in `BodyRow.js`, I want to wrap that in a link.

`Current`

[code]

`Desired`

[code]

[2018-06-04 20:38] Imballinst commented on #15
aaah, I see, my bad. yeah, currently there's no functionality for it (row linking) yet.

I think you can use the same style like the `cell` property and replace line 24-28 of `BodyRow.js` with this:

[code]

That way, it will be more flexible to wrap it with anything, not only just `<Link>` tags, IMO. I'm not sure whether to wrap the `<tr>` or wrap its children, though. What do you think?

[2018-06-04 20:45] chasen-bettinger commented on #15
@Imballinst
I could try it out and make a pull request. Does that sound like a good plan of action?

[2018-06-04 20:55] Imballinst commented on #15
I think it does, thanks!

[2018-06-21 06:25] Imballinst opened #16 "Add an example folder for ease of developments"
Add `examples` folder in the root project. It contains views with various table configurations, for example:

1. Initial configuration (no config)
2. Pagination
3. Filtering
4. Clickable column content
5. etc.

To run it, probably will need `webpack-dev-server` to virtualize the server and make the development easier (hot reload yay)

[2018-09-06 11:51] osamakhanedu opened #17 "asyn data fetching"
can we fetch data when last tab is reach in pagination ?

[2018-09-06 23:04] Imballinst commented on #17
Hi, currently there's no option for that, but I think I will try to be more proactive on this lib again and work on it this weekend!

[2019-03-03 05:58] satheesh1997 opened #18 "How to set filter search box placeholder"

[2019-03-03 11:25] Imballinst commented on #18
Currently there isn't one. How about if it's set up in the `labels` prop? So it's like:

[code]

[2019-03-03 11:40] Imballinst opened #19 "Rework the package"
There are a lot of debts to do.

- [x] Use webpack v4
- [x] Instead of relying to react-bootstrap, we probably better use only vanilla tags `table`, `thead`, `tbody`, etc. and give option to change the used components. One of the idea I could think of is using props, e.g.

[code]

This removes the "tie" of using react-bootstrap and opens up the possibility of combining this with other component li

[2019-03-03 12:36] Imballinst commented on #18
Does this satisfy your needs? https://codesandbox.io/s/j4pwq6nlyw @satheesh1997

[2019-03-03 17:26] satheesh1997 commented on #18
Yes @Imballinst  it works

[2019-03-04 00:33] #18 closed

[2019-03-04 00:36] Imballinst commented on #18
Merged the PR. Please re-install the package with version `1.2.5` (it should be 1.2.4 but I messed up the beta versioning earlier)

[2019-04-16 05:41] RanjithaRaja opened #24 "Data is not coming when try to extend the table"
Basic Datatable is working perfectly, but when try to extend the table data is not coming to the table body and pagination is also not working.

[2019-04-16 06:59] Imballinst commented on #24
Sorry! Apparently I messed up the README and missed a little bit information on it.

I've updated the README: https://github.com/Imballinst/react-bs-datatable/commit/b93b89b0d4f4f67782710366dc9191e8e80962c0?short_path=04c6e90#diff-04c6e90faac2675aa89e2176d2eec7d8. The misinformation lies here:

![image](https://user-images.githubusercontent.com/7077157/56188402-c33e0e00-6068-11e9-8016-3a2b8e123513

[2019-04-16 08:23] RanjithaRaja commented on #24
@Imballinst Thank you so much...It's working perfectly

[2019-04-16 08:28] Imballinst commented on #24
No worries, I'm glad to help! :smile:

[2019-04-16 08:28] #24 closed

[2019-04-17 04:48] RanjithaRaja commented on #24
@Imballinst filterPlaceholder property is not working while extending the table. But it's working in a Basic data table.

[2019-04-17 04:49] RanjithaRaja opened #26 "filterPlaceholder property is not working in extended table"
@Imballinst filterPlaceholder property is not working while extending the table. But it's working in a Basic data table.

[2019-04-17 06:27] Imballinst commented on #26
OK, I can reproduce this. The README is wrong (again, duh) -- we need to pass another prop to `Filter` component like this: https://codesandbox.io/s/kmzm5wkjlo

[code]

Will update the README, and I think I will make an extensive README for each component as well. Thanks for reporting and please let me know if the above solution doesn't work!

While we're at it, what is your experience on extendin

[2019-04-17 08:58] RanjithaRaja commented on #26
@Imballinst Yeah it's working fine. Thanks for helping.

Better you will make one live demo and attach the link in the README file. Because everyone will get a clear idea.

[2019-04-17 09:08] Imballinst commented on #26
Cool! Makes sense -- thanks for your feedback!

[2019-04-17 09:15] RanjithaRaja commented on #26
@Imballinst Showing current entries are not available in this version. (Ex:https://screenshots.firefox.com/1QAvGUxvxqyGtp5M/mdbootstrap.com)

If it is available, please give me the code

[2019-04-17 09:20] Imballinst commented on #26
For clarification: is it this part?

![image](https://user-images.githubusercontent.com/7077157/56276477-e5598e00-6145-11e9-96c8-4b3c7d2c1d57.png)

[2019-04-17 09:21] RanjithaRaja commented on #26
Yes

[2019-04-17 09:26] Imballinst commented on #26
Somewhere like this? https://codesandbox.io/s/zqqz25lrrp

[2019-04-17 09:30] RanjithaRaja commented on #26
Yeah

[2019-04-17 09:33] Imballinst opened #28 "More Extensive README"
- Document "hacks" from other issues
- README for each component, use something like, https://github.com/jsdoc2md/jsdoc-to-markdown/wiki I guess?

[2019-04-17 09:35] Imballinst commented on #26
Cool! Does that work for you?

Signature reference to https://github.com/Imballinst/react-bs-datatable/issues/28 so I don 't forget to document this kind of thing in README later.

[2019-04-17 09:47] RanjithaRaja commented on #26
@Imballinst Thank you so much!

[2019-04-18 10:48] RanjithaRaja commented on #26
Hi,

I am having a small issue. Please refer the screenshot https://prnt.sc/ndmp91

Exactly what I need is, it should display current value (Example: Displaying 11 to 20 of 57 entries).
But every time it is Displaying 1 to 10 of 57 entries

[2019-04-18 11:27] Imballinst commented on #26
Could you try this one? https://codesandbox.io/s/zqqz25lrrp

[2019-04-18 11:47] RanjithaRaja commented on #26
it's working fine, But the last pagination it's showing wrong data.

For that, I have modified a little bit your code

**Displaying {(currentPage - 1) * rowsPerPage + 1} to{" "} {(currentPage - 1) * rowsPerPage + paginatedData.length} of {filteredData.length} entries**

Try this, please let me know if it is any corrections.

[2019-04-18 11:49] Imballinst commented on #26
Ah, correct. I missed the last page, your updated code is better, awesome!

[2019-04-18 11:51] RanjithaRaja commented on #26
Thank you so much for helping the right time!

[2019-04-18 11:53] Imballinst commented on #26
No worries! Cheers

[2019-06-14 06:07] RanjithaRaja opened #33 "Can you please give me the pagination code?"
Hi,

I Am trying to implement lazy loading in the data table. I need a pagination code to complete that work.

Can you please provide the code?

[2019-06-15 09:37] Imballinst commented on #33
Hey, unfortunately I don't have the lazy loading feature yet :frowning_face: it's been quite a while since https://github.com/Imballinst/react-bs-datatable/issues/1.

But if you have extended the table yourself, I think you can play around it in many ways.

[2019-06-18 01:34] cgarrotti opened #34 "How to add column button ?"
How to add column button ?

[2019-06-18 01:55] Imballinst commented on #34
Could you give a bit more clarification?

1. Use button in a column,
2. Implement "Add button" in a certain part of the table
3. Else?

Thanks!

[2019-06-18 09:49] cgarrotti commented on #34
I need add a column button and how to trigger this button too

Em seg, 17 de jun de 2019 22:55, Try Ajitiono <notifications@github.com>
escreveu:

[2019-06-25 01:41] Imballinst commented on #34
Hey, sorry for the late reply.

Just in case you're still working on it: https://codesandbox.io/s/128-issue-34-u9wvg. See line 154-174, when you click on a button on the most-right, it will trigger an alert.

[2019-08-03 12:28] #34 closed

[2019-08-30 06:49] ChakraKBBala opened #42 "Serial Number"
Can you please tell me how to add serial number for each row

[2019-09-01 11:12] Imballinst commented on #42
Hello! Is it any different with the examples in https://github.com/Imballinst/react-bs-datatable#example-usage? Basically this should do:

[code]

If your use case is different -- e.g. there is more than that, please do let me know.

[2019-09-03 06:23] ChakraKBBala commented on #42
Thanks for your response @Imballinst , But i need to add a auto-increment number for each row

eg:

![s no](https://user-images.githubusercontent.com/41482009/64148460-fd098880-ce40-11e9-9799-fa57501952f0.png)

[2019-09-03 08:49] Imballinst commented on #42
Let's see if I get your requirement right:

(1) `name`, `age`, and `gender` data field exists, such as:

[code]
and (2) you do not want to manually add, say, `sNo` field to each of the array element?

If that is what you mean, it is not available at the moment -- but I can make a quick PR and sample in CodeSandbox if you want.

[2019-09-03 09:39] ChakraKBBala commented on #42
@Imballinst Correct.., i don't have s.no filed in my array element i want to create it manually  from front-end

[2019-09-03 09:48] Imballinst commented on #42
Gotcha. I'll let you know tonight/tomorrow morning!

[2019-09-03 10:00] Imballinst commented on #42
Hey @ChakraKBBala, just to make sure, does this not fulfill your need?

[code]

[2019-09-03 11:08] ChakraKBBala commented on #42
I thought not to add s.no field into that array elements, anyways if it is too complex to implement then i can use this map method. Thanks :) @Imballinst

[2019-09-03 11:38] Imballinst commented on #42
I see. Yeah, from my point of view, the complexity rises when you combine it with sort and pagination -- e.g.

1. When sorting the serial number field, we need to have an internal process of "reversing" the virtual serial number, such as: `for (let i = data.length - 1; i >= 0; i -= 1)` instead of `for (let i = 0; i < data.length; i += 1)`
2. When paginating, e.g. we are in page 1, 2, 3, etc. the t

[2019-09-03 11:38] #42 closed

[2019-09-14 07:47] Imballinst commented on #1
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:47] #1 closed

[2019-09-14 07:48] Imballinst commented on #16
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:48] #16 closed

[2019-09-14 07:48] Imballinst commented on #17
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:48] #17 closed

[2019-09-14 07:48] Imballinst commented on #19
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:48] #19 closed

[2019-09-14 07:48] Imballinst commented on #28
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:48] #28 closed

[2019-09-14 07:48] Imballinst commented on #33
Fixed with https://github.com/Imballinst/react-bs-datatable/pull/40.

[2019-09-14 07:48] #33 closed

[2019-12-31 04:07] vijaypatoliya opened #46 "Sorting only works with current active page instead of all pages"
As now sorting only support with the current page. Is there an option to sort on the whole data source instead of a current active page?

Thanks in advance.

[2020-01-05 01:17] Imballinst commented on #46
Sorry for that! I believe that should be a bug (and quite an annoying one!). I will inspect this and push a fix after real soon.

[2020-01-05 02:09] Imballinst commented on #46
@vijaypatoliya This PR https://github.com/Imballinst/react-bs-datatable/pull/47 is an attempt to fix this issue. Please try out the sandbox https://codesandbox.io/s/serverless-cookies-6pgn3 and try to sort the "Score" column!

If the behavior is correct, I'll merge it and publish `2.0.3`.

[2020-01-10 23:40] #46 closed

[2020-01-15 23:50] eduardoGCordeiro opened #49 "Add filter texte placeholder in documentation."
Hey little brother, add the option 'filterPlaceholder' at custom Labels in documentation. I had to read the source code to understand how to customize. Thanks! Have a nice day!

[2020-01-19 04:55] Imballinst commented on #49
hey @eduardoGCordeiro! Sorry for that. I'll push a quick fix for this 🙇

[2020-01-19 05:10] #49 closed

[2020-02-07 13:32] henok-tesfaye opened #51 "How to add onClick event to a row?"
I want to add a click event to a row of one column?

[2020-02-12 08:11] masnoonmulla opened #52 "How to add actions buttons for each Row"
I want to add edit and delete button for each row with its data and onClick event fire...

[2020-02-14 11:45] FilippeMafra commented on #52
Hello @masnoonmulla,

If all the rows have the same button look at the link: https://github.com/Imballinst/react-bs-datatable/issues/15

[2020-02-15 07:20] masnoonmulla commented on #52
Hi @FilippeMafra
Thanks for your response
 Its work for me.

[2020-02-15 07:20] #52 closed

[2020-02-15 11:08] Imballinst commented on #51
hey, sorry for the long reply. Let me know if this is enough: https://codesandbox.io/s/205-row-onclick-event-ev9oy

If yes, I'll merge #53 after few some commits (regarding docs, etc.)

[2020-02-15 11:28] henok-tesfaye commented on #51
Yes @Imballinst , Issue fixed!

[2020-02-15 11:42] #51 closed

[2020-02-15 12:04] masnoonmulla opened #54 "Custom Pagination position in 2.0.5-alpha.2"
I needed pagination position in bottom right and need to display current entries... IN V.2.0.5-alpha.2

[2020-02-15 13:11] Imballinst commented on #51
@henok-tesfaye this should be live in `react-bs-datatable@2.0.5` (updated the last sandbox, too). Let me know if something doesn't work!

[2020-02-16 08:15] henok-tesfaye commented on #51
Thanks you @Imballinst. How long will it take to be released?
Sure I'll let you know.

[2020-02-16 09:13] Imballinst commented on #51
@henok-tesfaye it should be live already: https://www.npmjs.com/package/react-bs-datatable

[code]

[2020-02-16 09:30] Imballinst commented on #54
Does this fit your need? https://imballinst.github.io/react-bs-datatable/?path=/story/advanced-guides--extending-the-table

You'll need to "compose" the table a bit -- but at the end of the day, it will result in the same experience.

[2020-02-16 09:32] henok-tesfaye commented on #51
Awesome, thanks @Imballinst !

[2020-02-17 08:01] masnoonmulla commented on #54
Thank You @Imballinst ...
 Displaying {(currentPage - 1) * rowsPerPage + 1}
                   to{" "}  {(currentPage - 1) * rowsPerPage + data.length} of{" "} {data.length} entries
I need a small help in this code how to display total entries in above code..
![dataTAble](https://user-images.githubusercontent.com/36194265/74634422-d25e8280-5189-11ea-8b8d-5f9e94cf844c.PNG)

[2020-02-18 09:39] Imballinst commented on #54
@masnoonmulla could you try this? so instead of `data.length` -- use `props.tableBody.length`.

It's because `data` returned from `useTableLifecycle` is the data that we have sorted, filtered, and paginated. `props.tableBody` contains the "raw" data that you pass to the table. Let me know if this works!

[2020-02-18 10:19] masnoonmulla commented on #54
Thank You so much @Imballinst for your help.. Its work

[2020-02-18 10:20] Imballinst commented on #54
Awesome @masnoonmulla! Let me know if you need further help.

[2020-02-18 10:20] #54 closed

[2020-02-18 10:21] masnoonmulla commented on #54
Yeah sir how to pass mulitple prop in headers array

[2020-02-18 10:38] Imballinst commented on #54
oooh -- that. Unfortunately currently this library doesn't support column spanning (yet). But that is a good idea. Let's track it in different issue.

[2020-02-18 10:39] Imballinst opened #55 "Implement column spanning"
Yeah sir how to pass mulitple prop in headers array
Eg,
{ title: "OWNER", prop: "name,mobile", sortable: true, filterable: true },
in attached file there is two lables Owner Name & Mobile i need to display in one td with lables,
![new_eg](https://user-images.githubusercontent.com/36194265/74727438-28edbe80-5267-11ea-8c6f-e6ebec28cf82.PNG)

_Originally posted by @masnoonmulla in https://github.com/

[2020-02-18 11:52] masnoonmulla commented on #55
Hi @Imballinst

const new_array = arrayWithData(
                             (values,index) =>
                             ( {...value,owner:`NAME: ${value.name}, MOBILE: ${value.mobile}` } )
                          )

header = [
{ title: "OWNER", prop: "owner", sortable: true, filterable: true },
]

it's worked for me...

[2020-02-18 11:58] Imballinst commented on #55
@masnoonmulla oooh! I see. I thought you wanted to do something like:

<table>
  <tr>
    <td colspan="2">Owner</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>Mobile</td>
  </tr>
  <tr>
    <td>Jack</td>
    <td>123123</td>
  </tr>
</table>

[2020-02-19 05:42] masnoonmulla commented on #55
@Imballinst  you can implement that also for future..
Thank You so much for your help...

[2020-02-23 17:18] ratha1 opened #56 "Can not change column header width"

[2020-03-06 17:35] wale-bant opened #57 "Conditionally style a header text"
const classes = {
    theadCol: css
      .table-datatable__root & {
        font-weight: bold;
      }

  };
Using the classess prop, the code above applies to all column head.

`
const header = [
{ title: 'Dressing',  prop: 'dressing', sortable: true, filterable: true },
{ title: 'Name',  prop: 'name', sortable: true, filterable: true }
]
`
From the header above, there should be a way to apply a

[2020-03-06 17:46] wale-bant commented on #57
This also applies to the cell prop.
There should be like a condition to render the returned react component to the table body, just in case i don't want the cell to get rendered to all the elements in the body.

My uses case here is:
I have a table with a list of items with name and amount props.
Then a total row at the bottom which sums all the amount.
For each item, i want to render a button nex

[2020-03-19 12:26] Imballinst commented on #57
Sorry! I was a bit busy past 2 weeks. I can work on it by this weekend, even if you don't need it anymore (just so future users can fulfill your use-case). This seems like a valid use-case for me, too.

[2020-03-19 12:26] Imballinst commented on #15
Fixed in https://github.com/Imballinst/react-bs-datatable/pull/53.

[2020-03-19 12:26] #15 closed

[2020-03-19 12:27] Imballinst commented on #56
Hmm, currently I haven't thought about it yet. I'll give it a go by this weekend.

[2020-03-19 13:54] wale-bant commented on #57
Hi @Imballinst, thats ok.
I found a way to satisfy my use-case using the cell callback function
See below:

`{
      title: 'View',
      prop: 'action',
      cell: row =>
        row.name !== 'TOTAL' && (
          <Button className="btn-sm" color="primary" onClick={() => handleViewPayslip(row)}>
            View Payslip
          </Button>
        )
    },`

[2020-03-19 14:06] Imballinst commented on #57
oh, awesome! Yeah, that's a great way of utilizing the `cell` field. I think that means you did the same for the header text?

[2020-03-19 14:14] wale-bant commented on #57
I tried that with the header. Didn't work. Perhaps you could look more into it. Great work by the way 👍

[2020-03-19 14:15] Imballinst commented on #57
Got it. Thanks for the pointers! I'll take further look on it -- and will get back to you when I find the fix/way out.

[2020-03-21 07:38] Imballinst commented on #57
@wale-bant apparently I made `cell` only for the table body column. So, I made a new field `headerCell` -- demo here https://codesandbox.io/s/206-alpha1-headercell-gtwyq

Snippet:

[code]

If you want, you can also use your own icon depending on `isActive` and `order`.

This is published in `v2.0.6-alpha1`. If this fits your needs, I will go ahead and publish this as `v2.0.6`.

[2020-03-21 21:09] wale-bant commented on #57
Superb!. This will do 👍

[2020-03-22 02:29] #57 closed

[2020-03-22 02:39] Imballinst commented on #57
@wale-bant This is released in `v2.0.6` -- again, demo can be seen in either https://codesandbox.io/s/206-headercell-rowcn (updated the deps to `v2.0.6 instead of v2.0.6-alpha1`), or the Storybook (https://imballinst.github.io/react-bs-datatable/?path=/story/getting-started--custom-cell-representation).

Let me know if you have any questions!

[2020-03-27 16:32] revengeofthepencil opened #60 "tableClass property not being applied"
Nice plugin, thanks for all the work you put into it!

I am having a problem with the tableClass parameter. I am passing a custom class but, no matter what I do, I always end up with the table having the class "table table-datatable__root". This is even the case in the examples on the demo page. When I inspect the table from the example at https://imballinst.github.io/react-bs-datatable/?path=/sto

[2020-03-28 03:00] Imballinst commented on #60
hello @revengeofthepencil, thank you for reporting the problem! I'll check it out around this weekend and get back to you when I find the problem.

[2020-03-28 04:02] Imballinst commented on #60
So apparently I forgot to remove the prop `tableClass`. To add a class to the `table` tag, now we use `classes.table`. For example: https://codesandbox.io/s/v210-alpha2-ghv0s.

In the meantime, I'll update the docs so it's not misleading: https://github.com/Imballinst/react-bs-datatable/pull/61.

[2020-04-03 02:19] #60 closed

[2020-05-14 16:47] Itedjere opened #62 "How do i start?"
I am confused on how to start using it. I have installed it. But how to start

Do i have to use the storybook pattern like you did in the examples.

Please guide me or show me resources to read on how to start.

Thanks

[2020-05-21 05:09] Imballinst commented on #62
hello! sorry for the late reply. I also just realized that there is no "Usage" section in the README. I'll try to add that. You don't have to use Storybook, for example, to use it in your React app, you can use this:

[code]

[2020-05-21 13:40] Itedjere commented on #62
Wow thank you so much

This really helps me as a beginning 😂

Thanks.

Itedjere Godspower

On Thu, May 21, 2020, 06:09 Try Ajitiono <notifications@github.com> wrote:

[2020-05-21 13:55] Imballinst commented on #62
all good @Itedjere! Please let me know if you have further questions 👍

[2020-10-07 08:06] russkiy78 opened #70 "how to create custom pagination behavior?"
I wanna make a custom event for the  pagination onChange function and number of  pages, to get the data portion dynamically from API.
In documentation I see the  phrase  "We can override Bootstrap's components" but  the way to do it not clear to me.

Please  show me an example how to change PaginationOptsGroupProps.onChange?

[2020-10-09 23:31] Imballinst commented on #70
hello! sorry for the late reply, this week's is a bit hectic for me. Thanks for using this library!

I think what you're looking for is the controlled table (with the keyword "custom event for pagination"). You can see the example below:

https://github.com/Imballinst/react-bs-datatable/blob/16a571ae2f077759847c9da8d656e769ef586002/src/__stories__/02-advanced/02-AsyncPokemon.stories.js#L49-L71

So

[2020-10-26 11:31] masnoonmulla opened #71 "how to apply styles to particular columns"
Hi, how to apply dynamic styles to columns...

[2020-10-26 11:39] Imballinst commented on #71
Do you want to make the **cell**'s style dynamic, or is it the **content**'s style itself?

[2020-10-29 12:12] masnoonmulla commented on #71
Example:
<table>
        <thead>
            <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tr>
            <td style='text-align:center & so on'>Alfreds Futterkiste</td>
            <td style='text-align:right'>Maria Anders</td>
            <td>Germany</td>
        </tr>
    <

[2020-10-30 10:40] Imballinst commented on #71
@masnoonmulla are the styles static (as in, the columns' style in all rows will be that way)? If yes, then probably we can take advantage of CSS `nth-child(n)` (example here: https://codesandbox.io/s/issue-71-example-kdtks). Let me know if this suits your need!

But, probably that's a bit "hacky". Let me see if I can work on something in the next week to add a prop, something-something like, `cell

[2020-10-31 09:51] masnoonmulla commented on #71
Yes, **codesandbox.io** this work for me. :)
we faced another issue. **saving state of the table like pagination, search etc.**

[2020-11-03 03:07] Imballinst commented on #71
ok! I will update this issue when I have worked on that. With regards to saving the table state, I think you can use query parameters and make the table's state controlled -- so we can "re-hydrate" the state from query parameters, in a way.

[2020-11-03 09:44] masnoonmulla commented on #71
Please let me know the example of table state on Codesandbox.io !

[2020-11-14 07:59] Imballinst commented on #71
Hi @masnoonmulla -- I just pushed an alpha version `2.1.2-alpha2` for `cellProps` -- you can see its usage here: https://codesandbox.io/s/212-alpha2-cell-styles-and-classnames-by-string-object-and-functions-lm9ze.

As for the controlled table state, could you try something similar to https://imballinst.github.io/react-bs-datatable/?path=/story/advanced-guides--asynchronous-table? Technically, we a

[2020-12-15 12:24] masnoonmulla commented on #71
Thanks for your support

[2020-12-15 12:24] #71 closed

[2020-12-16 17:25] urvish91 opened #74 "How to add checkbox and select all?"
Thanks for making such nice library. it looks awesome to me. but I stuck that I need first column with checkbox and select all from header. so can you please help me with that?

[2020-12-17 10:15] urvish91 opened #75 "React DOM hook error"
I came to know that if in my nextJS app if I have react dom and react version is latest 17.0.1. then I am getting react dom error because you are also using this with different version and system finds two react version. so it gives error Invalid Hook.

so to solve this issue kindly use react and react dom as a peer dependencies and dev dependencies. so that it not comes in our package.

[2020-12-22 07:09] urvish91 commented on #74
Fixed

[2020-12-22 07:35] KapitanOczywisty commented on #74
@urvish91 I'm curious how did you do this? Anyway this should be a standard feature, so you may leave this open.

[2020-12-27 15:40] shareef opened #76 "npm audit node-fetch vulnerability"
Low             Denial of Service

  Package         node-fetch

  Patched in      >=2.6.1 <3.0.0-beta.1|| >= 3.0.0-beta.9

  Dependency of   react-bs-datatable

  Path            react-bs-datatable > react-bootstrap >
                  @react-bootstrap/react-popper > create-react-context > fbjs

  More info       https://npmjs.com/advisories/1556

[2020-12-28 12:28] Imballinst commented on #74
Hey folks, sorry I was quite busy past 2 weeks. If I may guess, @urvish91 is using `headerCell` and `cell` for the checkboxes. Example can be seen here https://codesandbox.io/s/laughing-sky-lqy7o.

I agree that this feature can be useful and it is less hassle for this library's users. I am reopening this and proposing an API.

[code]

Hence, if `checkbox` field is passed, that column will automati

[2020-12-28 12:31] Imballinst commented on #75
This is a good suggestion -- I saw this discussion back then in Twitter but I didn't follow this through. I'll see this done. Thanks for reporting!

[2020-12-28 12:39] Imballinst commented on #76
Thanks for reporting! I'm going to bump `react-bootstrap` to fix this issue.

[2020-12-28 13:01] KapitanOczywisty commented on #74
@Imballinst It probably would make sense to select all on current page, not on all (but remember checked), and I wonder how this would work with remote pagination. Somebody could have alert above table like `N items selected on all pages. [clear selection]`, API should have ways to make this possible.

Also It would be nice if onRowClick would toggle selection. I did my implementation with `ref`s,

[2020-12-29 04:21] Imballinst commented on #74
I agree on to select all on current page.

With regards to "Clear selection", perhaps we can also add "Select all N items" to the left of it (in case we want to select all items in entire table). However, I'm not sure if we should provide this feature. Maybe we can default it to be enabled then provide a `tableOptions` prop to disable it?

Does the current version not support it? I think it can be

[2020-12-29 09:06] KapitanOczywisty commented on #74
I've misunderstood proposition a bit, I thought that state will be managed by library, but both points are no more actual with user-managed state.

It should be only possible for user to implement, but if state is managed by user it's possible regardless.

I meant this situation in particular: https://codesandbox.io/s/211-checkboxes-forked-e8271?file=/src/index.js:1743-1814
, but I've fixed it wit

[2020-12-29 09:28] Imballinst commented on #74
Ah, okay! Yes, I think that's quite common situation when an interactive HTML element is a children of an element with event. Nicely done by using `.stopPropagation()`. That being said, I think I will make sure to do the propagation underneath the table's implementation so users don't have to deal with it.

Thanks for the discussion! Anything else that I should add into the detail of the implement

[2020-12-29 10:50] KapitanOczywisty commented on #74
So if user is managing state: In what format selections will be passed to `<Datatable>`?

From what I can see in other tables:
1. would be nice to allow setting indeterminate to select all checkbox. Not elegant for current version: https://codesandbox.io/s/211-checkboxes-forked-6c7m0?file=/src/index.js
2. option to not show select all and only row-level selection
3. prevent selection on particular

[2020-12-29 11:51] Imballinst commented on #74
It's a little bit tricky. As of now, I can only think of 2 solutions (I'm more leaning to the first one):

1. **The table automatically "computes" the unique ID**: we don't have to do anything different compared to what we have at the moment. This may be a bit tricky when we allow dynamically addition/deletion of the table data on-the-fly. The easiest workaround would be: "When `tableBody` changes

[2020-12-29 14:06] KapitanOczywisty commented on #74
### Passing selection

For this to make sense, you need unique key in data anyway, so I'm proposing to use column.

[code]

It is relying on user to keep state, but it's way more powerful to use. And stuff like remote pagination should work out-of-the-box.

### Indeterminate

Maybe better to keep one function to manage states:
[code]

### Hidden SelectAll / Column
We can deal with that using style

[2020-12-29 23:43] Imballinst commented on #74
After taking some time to digest your suggestion, I think those are good APIs, in particular the `selectAllState`. It's neat and covers all 3 conditions in 1 state without us having to "compute" them in other functions.

I only have 2 comments:

1. **`Set` and/or `Array`**: I think I'd support both but recommend explicitly to use `Set` in the documentation. I am not sure yet if all users are famil

[2020-12-30 00:35] KapitanOczywisty commented on #74
If you're using react you're probably familiar with ES6. However it's not that hard to write support for both, so whatever is good.

I think `Set<any>` since data could be of any type.

Maybe `selection` prop should be of type `Set<any> | (Set<any>) => void`, where function would be practically `onSelectionChange` when state is managed internally.

Thanks, I've researched a bit other datatable scr

[2020-12-30 10:23] Imballinst commented on #74
Hmm, I'm not entirely sure about this. I like `onSelectionChange` (an explicit, different prop) better than `selection`. Mostly semantic, though—because `selection` indicates an object, whereas `onSelectionChange` indicates a function.

It's not likely for a table to have more than 1 checkbox, but I'm considering the difficulty to change the checkbox placement. If we control the checkbox in the `t

[2020-12-30 10:49] KapitanOczywisty commented on #74
You don't really need to know column number, you're propagating props to the headers and rows, these with `checkbox:true` will deal with implementation. Only maybe set defaults somewhere higher.

I'm not sure what you mean. I'm concern about growing `tableHeaders`, It'll be hard to see table structure past all these options.

[2020-12-31 05:13] Imballinst commented on #74
Aha! Apologies, I misunderstood your intention. I think this clears it.

In that case, I agree about moving the checkbox options to the `<Datatable>` instead. So that way, all checkbox columns (if we have more than 1) will have the same "behavior", without having to declare the same thing over and over again—is that what you meant (?)

[2020-12-31 10:16] KapitanOczywisty commented on #74
Yes 😃 Mention If there will be anything for beta testing 😉

[2020-12-31 12:02] sdipesh commented on #75
Hi, I am trying to use react-bs-datatable with react 17.0.1 but it is giving me "Invalid hook call" error. When I look at react versions after installing react-bs-datatable I see 2 versions of react 17.0.1 (which is primary) and 16.14.0 (which i believe is dependency of react-bs-datatable). Please guide me how to solve this issue.

[2021-01-01 18:12] urvish91 commented on #75
I already reported this error. @Imballinst Please solve this asap and send as new version so that it can auto fixed. we are waiting eagerly for this.

For temporary solution @sdipesh , once you install then open node_modules --> react-bs-data-table --> node_modules -> and then delete react and react dom folder. it will work.

I have done the same way and its working awesome.

[2021-01-10 00:47] Imballinst commented on #75
Sorry for the delay! I've been busy for the last week. I'll try to work on it today.

[2021-01-10 00:48] Imballinst commented on #74
OK! Thanks for the discussion. I'll see if I can get that done this week 😄

[2021-01-10 02:49] Imballinst commented on #75
@urvish91 @sdipesh I just published `react-bs-datatable@2.1.3-alpha2` for testing—the PR is up in https://github.com/Imballinst/react-bs-datatable/pull/79. I _think_ the issue is gone. Could you verify by installing it on your end? If the issue is gone, then I'll merge it and I'll publish the non-alpha release.

[2021-01-10 10:31] KapitanOczywisty opened #80 "Export some internal types"
I think that some of the internal types should be exported, like `PaginationProps` or `HeaderType`. Some you can import from files, but some are not exported at all (like `PaginationProps`)

Example:
[code]
[code]

[2021-01-11 07:44] imballinst opened #81 "Invest in CI tooling for testing and ensuring 0 discrepancies"
Previously we have this TravisCI thing, but since its migration, the hook couldn't work and hence I disabled it. I'll probably need to do 2 things:

1. Set up a CI. In this CI, run all unit tests, and check if `yarn build` updates a new file in `git status`. If it has new untracked files, then fail the build.
2. Run it in PRs and `master` branch.
3. Would probably be awesome if every tag from Gith

[2021-01-11 12:09] KapitanOczywisty commented on #81
Github Actions is pretty good ;)

I'm a bit confused about 1, what are you trying to test?

3. You can easily deploy to npm, github have secret tokens built in: https://gomakethings.com/how-to-automate-npm-deployment-with-github-action-hooks/

[2021-01-11 23:26] Imballinst commented on #81
@KapitanOczywisty yes, but it's only for `master`, isn't it? We can't run GitHub Actions on non-master branch (last I checked).

As for (1), it's about what you said earlier about updating `lib`. It's technically to ensure that `lib` is always up to date (e.g. so that I don't mistakenly publish a version with stale `lib` folder).

[2021-01-11 23:54] KapitanOczywisty commented on #81
I've never heard about that, but even If it was the case in the past, it's not anymore.

Right. I've seen somewhere lately build auto committed on reviewed pull-request. Basically you're setting label `automerge` etc and Actions will build, commit and merge PR. Probably: https://github.com/EndBug/add-and-commit + https://github.com/pascalgn/automerge-action

[2021-02-10 16:40] mmizera opened #82 "Mobile First Support for top panel"
Hi

Can you please add some css for top panel, so it stacks on lover resolutions ?

![mobile-not-first](https://user-images.githubusercontent.com/3079638/107541098-10d52480-6bc7-11eb-8024-7fef0d7f9f25.PNG)

[2021-08-16 16:06] Gwachukwu opened #93 "How do I move the pagination to bottom of the table if I am not using storybook?"

[2021-08-19 03:24] imballinst commented on #93
@Gwachukwu hello! Here is the sandbox example to do it: https://codesandbox.io/s/extend-table-example-myv9b?file=/src/index.js

We don't need Storybook to move the pagination to bottom of the table. What we need is to compose our own table like this:

https://github.com/imballinst/react-bs-datatable/blob/757de71d5168e99b9699255c52722e5c3cebb9cf/src/__stories__/02-advanced/00-Extending.stories.js#L

[2021-08-19 16:03] Gwachukwu commented on #93
@imballinst Thank you. that was useful

[2021-08-19 16:03] #93 closed

[2021-09-24 18:58] devrsingh1992 opened #95 "filterable is not working"
Hello team,

I have integrated datatable and it's working fine, except search filter, when i'm passing `filterable: true` , whole page showing white screen.

please help me to solve the problem.

[2022-01-27 01:55] imballinst opened #100 "React Bootstrap 2: update dependencies and prepare for new major version"
Since this contains breaking changes from Bootstrap 4 to Bootstrap 5, this is going to be a new major version.

[2022-01-27 06:53] #75 closed

[2022-01-27 06:53] #76 closed

[2022-01-29 03:52] imballinst commented on #100
@ahmetunal I have created a new branch for the next version of this library that supports React Bootstrap v2 and Bootstrap v5. Could you take a look? I have written some of the new stuff (so far) and the breaking changes: https://github.com/imballinst/react-bs-datatable/tree/v3-prep

I have also prepared a sandbox for the demo. If you want to install it in your local, you can do it with `yarn add

[2022-01-29 04:00] imballinst commented on #56
This is fixed by https://github.com/imballinst/react-bs-datatable/pull/72, with it, we can hardcode the table's width.

[2022-01-29 04:00] #56 closed

[2022-01-29 04:00] #62 closed

[2022-01-29 04:00] #70 closed

[2022-01-29 04:01] imballinst commented on #95
Hi @devrsingh1992! Sorry for a _very_ (even very might be an understatement)! If you are still interested in reporting this, could you share a bit of your code? A sample demo in https://codesandbox.io will be super helpful.

Thanks!

[2022-01-29 04:05] imballinst commented on #82
Hi @mmizera! Apologies for a very-very-very late reply! This should be fixed in the next major release (v3). Sample demo can be seen here: https://codesandbox.io/s/react-bs-datatable-3-zq7xe

![image](https://user-images.githubusercontent.com/7077157/151646624-b4839553-62b3-4bcb-a8cd-57e6ce6a200e.png)

![image](https://user-images.githubusercontent.com/7077157/151646627-593e3d17-cd77-4463-a831-3e9

[2022-01-29 04:38] #82 closed

[2022-01-30 05:50] ahmetunal commented on #95
Let me: https://codesandbox.io/s/react-bs-datatable-filterable-6vl6w

[2022-01-30 05:51] ahmetunal commented on #100
I will take a look today and let you know, thanks

[2022-01-30 06:28] imballinst commented on #95
thanks for the link! This is definitely a bug. I'll take a look.

[2022-01-30 06:43] imballinst commented on #95
Update: this is because the used react-bootstrap is v2. I put the version of `react-bootstrap` in `peerDependencies` wrongly, so it didn't show a warning like this:

[code]

Now, it will properly show that, and I will also add in the README that the v2 of this library will only be compatible to React Bootstrap v2 and Bootstrap v4.

[2022-01-30 06:51] #95 closed

[2022-01-31 04:06] ahmetunal commented on #100
I can confirm that it installs `3.0.0-alpha.6`, but I am getting bunch of `Module bot found` errors:
`ERROR in ./node_modules/react-bs-datatable/lib/esm/Filter.js 2:0-52
Module not found: Error: Can't resolve 'react-bootstrap/InputGroup' in 'G:\peorya\test\react-tests\node_modules\react-bs-datatable\lib\esm'`
(and goes on for `Form`, `Button`, `Row', `Table`, `Col`, `ButtonGroup`, `fontawesome`

[2022-01-31 04:10] imballinst commented on #100
@ahmetunal Thanks for testing! Is it reproducible in Codesandbox?

Because in Codesandbox it works fine, and so does the Next.js example here: https://github.com/imballinst/react-bs-datatable/tree/v3-prep/examples/next (the screenshot is below, mostly unstyled):

![image](https://user-images.githubusercontent.com/7077157/151737773-ae246ed9-7d6c-4efb-995a-44a4619bf580.png)

[2022-01-31 08:55] ahmetunal commented on #100
nevermind, it was on me. Works great

[2022-01-31 09:24] imballinst commented on #100
Thanks for confirming @ahmetunal!

I'll work on some more bits on the v3, then I'll release the official version. As of this moment, I have made some more small optimizations with regards to the bundle size compared to the latest version in v2: https://bundlephobia.com/package/react-bs-datatable@3.0.0-alpha.6.

![image](https://user-images.githubusercontent.com/7077157/151768475-f95823b5-8f28-4250

[2022-01-31 10:53] ahmetunal commented on #100
Sure, anytime :thumbsup:

[2022-02-05 07:24] #80 closed

[2022-02-05 07:24] #81 closed

[2022-02-06 07:31] #74 closed

[2022-02-23 12:52] mcallistertyler opened #124 "Button in column"
Hi, is there a way to add a column of buttons within the table? Similar to the example with the checkboxes.

Thanks

[2022-02-23 13:04] imballinst commented on #124
Hello @mcallistertyler! There are 2 ways to do it:

1. The first one is to declare it using `cell` and have the list of headers outside of the component (so it is always static): https://codesandbox.io/s/3-0-1-buttons-in-table-example-fir1fw?file=/src/App.js
2. The second one is a bit more dynamic -- in case you want some external states to affect the button's behavior: https://codesandbox.io/s/3-

[2022-02-23 13:42] mcallistertyler commented on #124
Exactly what I was looking for, thanks for these examples - very helpful and clear 👍

[2022-02-23 13:42] #124 closed

[2022-02-27 12:47] imballinst commented on #100
Closing this via https://github.com/imballinst/react-bs-datatable/pull/111.

[2022-02-27 12:47] #100 closed

[2022-03-16 17:01] pullelakalyani opened #129 "isFilterable not working with the API integration"
Hello @imballinst ,

I've tried with the same code with sample data that is present in the example sandbox it worked fine but when I integrated the API the filter functionality haven't worked. I got the following error:

`Uncaught TypeError: Cannot read properties of undefined (reading 'isFilterable')`

With the sample data there is a Boolean flag as isFilterable which is set to true in the header

[2022-03-16 23:54] imballinst commented on #129
hi @pullelakalyani, thanks for using this library! I think I have found the root issue. I'll work on it.

[2022-03-17 00:38] #129 closed

[2022-03-17 00:54] imballinst commented on #129
@pullelakalyani could you check with the newest update, `v3.2.1`? Previously it was a bug because I iterated all keys of the rows instead of the `prop` fields from the headers.

To test it, I put an unused field here in the story data: https://github.com/imballinst/react-bs-datatable/blob/main/src/__stories__/resources/story-data.json. As we can test here https://imballinst.github.io/react-bs-data

[2022-03-17 02:11] pullelakalyani commented on #129
Thankyou so much for the quick response @imballinst
v3.2.1 worked for me !

[2022-03-31 17:47] Susan123456789 opened #132 "Specify a className for a row based on the contents of the row"
I need the ability to add a className to a row based on the contents of the row (for example, to change the color of the row based on the value in a specific column).  Similar to the [cellProps](https://github.com/imballinst/react-bs-datatable/blob/main/api/interfaces/helpers_types.TableColumnType.md#cellprops)  but for adding a className to the row instead of the column.  Is this possible?

Thank

[2022-04-01 04:19] imballinst commented on #132
Hi @Susan123456789, thanks for using this library!

That is not possible at the moment, but I think I can work on this... some times today or tomorrow. I will get back to this issue after I finish it and let you know. Cheers!

[2022-04-01 12:15] imballinst commented on #132
Hi @Susan123456789, please take a look at `react-bs-datatable@3.3.0`. We can now add custom props to table rows, something like this:

[code]

![image](https://user-images.githubusercontent.com/7077157/161257658-4a3c4e69-93cc-4f8d-990a-da8274fbc352.png)

Example sandbox: https://codesandbox.io/s/react-bs-datatable-3-3-conditional-row-props-832ze3?file=/src/App.js. Example in Storybook: https://imb

[2022-04-01 13:39] Susan123456789 commented on #132
Works perfectly!!  Thank you so much for the prompt response!!

[2022-04-01 13:39] #132 closed

[2022-04-04 14:30] pullelakalyani opened #134 "Not able to sort the newset records at first"
Hello @imballinst

I've tried to sort the records based on the uploaded date and the newest should come first but it didn't worked as expected.
I've tried the following:

`  <DatatableWrapper
              body={dataTableBody}
              headers={dataTableHeader}
              sortProps={{
                initialState: {
                  order: 'asc',
                  prop: 'uploaddate'

[2022-04-05 06:21] pullelakalyani commented on #134
Thanks @imballinst for the quick response
Yes I've tried with the uploaddate instead of just date but didn't worked
Here is the sandbox with minimal code to reproduce that issue
https://codesandbox.io/s/funny-bassi-omvq5e?file=/src/App.js

Please have a look and help me out

Thank you in advance.
Really appreciate for the quick reply and quick fixes.

[2022-04-05 06:58] imballinst commented on #134
Thanks @pullelakalyani for the sandbox link! I believe I have found the issue. It's because we aren't parsing the date with the correct format. Here is the working example: https://codesandbox.io/s/reverent-faraday-dp2s46?file=/src/App.js.

The key is here:

[code]

Since the date format is like this `2022-04-04 16:16:20.827011`, then we need to match the formatting tokens as well. We can read htt

[2022-04-05 07:17] pullelakalyani commented on #134
Thankyou so much @imballinst
My bad I missed the format thing. But it's ordering from oldest to newest but not newest to oldest.
I've tried the asc and desc for the repo you've shared

[2022-04-05 07:30] imballinst commented on #134
Hmm, wait, this is newest to oldest, no? This is on my first load (using the same sandbox):

![image](https://user-images.githubusercontent.com/7077157/161701648-985a2339-d899-4ebb-93a2-26c3df329b94.png)

[2022-04-05 07:31] pullelakalyani commented on #134
It should be in reverse order 2022-04-05 first then 2022-04-04

[2022-04-05 07:34] imballinst commented on #134
...ah! Yes, my bad. You are right, hmm, perhaps it's a bug. I'll investigate this and I'll get back to this issue if I have fixed it. Thanks for the report!

[2022-04-05 07:35] pullelakalyani commented on #134
Sure Thank you @imballinst
Waiting for your response to fix the bugs

[2022-04-05 08:04] imballinst commented on #134
@pullelakalyani I just published `3.3.1-alpha.0` and here is the sandbox: https://codesandbox.io/s/reverent-faraday-dp2s46?file=/src/App.js. Could you confirm if it's working properly now? If yes, I will release `3.3.1` after. Thanks!

[2022-04-05 08:07] pullelakalyani commented on #134
Yes that's working awesome. You can release v3.3.1
Thankyou for the quick fix @imballinst

[2022-04-05 08:15] imballinst commented on #134
@pullelakalyani it should be out now: https://www.npmjs.com/package/react-bs-datatable/v/3.3.1, but it's not indexed yet in the [main page](https://www.npmjs.com/package/react-bs-datatable) (should be fine, I think).

Let me know if you face further issues! I'm closing this issue for now.

[2022-04-05 08:15] #134 closed

[2022-04-05 08:56] pullelakalyani commented on #134
Sure @imballinst , it worked
Thank you and really appreciated for the help in such a short span.

[2022-04-05 14:24] pullelakalyani commented on #132
Hey @imballinst does it work for column too?

[2022-04-05 15:55] pullelakalyani commented on #132
@imballinst  Kudos!
I need the same that have it has i.e the styles one for the column and it works like a charm 😍

[2022-04-05 16:24] pullelakalyani opened #136 "Need the value that is typed into the searchbar"
Hello @imballinst

Back with one more help!
I'm trying to get the value that is typed in the textbox so that the search text can be used later for other things.
I've tried like this:
` <Filter
                  onFilter={(e) => onChangeFilter(e)}
                  filterText={filterText}
                  placeholder='Search by App RegID or Applicant Name'/>`

But when I called the function onChan

[2022-04-05 22:53] imballinst commented on #136
hey @pullelakalyani! I think there are 2 ways to do it:

1. The first is to utilize the context from `DatatableWrapper`. We can create a component inside `DatatableWrapper` that reads the context's value using `useDatatableWrapper`. This is the relatively easier example, especially if we are using uncontrolled table. Example: https://codesandbox.io/s/lively-surf-xgb25m?file=/src/App.js.
2. The sec

[2022-04-11 13:34] Susan123456789 opened #138 "Equivalent of cellProps for column headers?"
Is there an equivalent to cellProps for column headers?  Like headerProps?  I would like to add a class name to a header (specifically a max-width for the column).  Thanks!

[2022-04-11 22:59] imballinst commented on #138
@Susan123456789 I have published `3.4.0-alpha.0` for testing, result can be seen in this sandbox: https://codesandbox.io/s/react-bs-datatable-3-4-0-alpha-0-thprops-zl8qi9?file=/src/App.js. Does this suffice what you need? Sample usage is as follows:

[code]

The class:

[code]

[2022-04-12 14:30] pullelakalyani commented on #132
Hey @imballinst
can we add spinner for the rowProps based on some conditions?

[2022-04-12 23:10] imballinst commented on #132
@pullelakalyani I don't think we can add the moment... what is the use-case?

[2022-04-13 04:22] pullelakalyani commented on #132
Ohh okay,
So its an ML usecase where the data take sometime to complete its tasks and update the records in the DB so when the ML process executes its tasks we can have the spinner spinning on a particular row based on the ML status

[2022-04-13 05:15] imballinst commented on #132
Ah, I see. Yes, that makes sense. It requires quite a bit of API change, I think. Something like this:

[code]

Not sure if it makes sense... but it's an option. What do you think?

[2022-04-18 05:20] pullelakalyani commented on #136
@imballinst
Yeah the controlledProps worked
I do have another query, like when the user types the search text, the search API is invoked and the related data is displayed
Can we make a search button next to search bar and when the user done with typing search text then he can click on that search button and then the results are displayed

[2022-04-18 05:38] imballinst commented on #136
@pullelakalyani Unfortunately there is no built-in feature for that. However, with the table being composable as it is, we can create our own `CustomFilter` component like this: https://codesandbox.io/s/lively-surf-xgb25m?file=/src/CustomFilter.js.

That `CustomFilter` component implements the functionality that we can adjust: in this case, filter on demand with (1) clicking the search button, or

[2022-04-29 17:58] shawnwall opened #140 "Searching data with null values results in error"
If the data source has keys with null values, which is part of the JSON spec, using the search feature ends up with an error being thrown. Null/undefined values should be handled during filtering so search can still occur as it is a normal use case for some potential fields to be null in a data set.

PR incoming

[2022-05-01 05:03] imballinst opened #142 "allow customizing how a row is rendered"
Reference: https://github.com/imballinst/react-bs-datatable/issues/132#issuecomment-1097567606

[2022-05-01 07:30] imballinst commented on #142
Perhaps the best way to reduce complexity in both maintainer and developer's experience is to provide a `rowRenderer` function prop to `TableBody` instead.

[2022-05-02 10:49] #140 closed

[2022-05-03 11:45] #142 closed

[2022-05-03 11:48] imballinst commented on #138
I am closing this issue -- `3.4.0` is published: https://www.npmjs.com/package/react-bs-datatable. Please feel free to re-open if the newest version doesn't solve this case.

[2022-05-03 11:48] #138 closed

[2022-07-27 04:26] twlai opened #147 "[Storybook - Async Examples] Cannot read source code or how to use"
Hello,

I want to see how the data table can be used in an Async environment.

However, the source code of the Async examples cannot be displayed. The following is an example:

https://imballinst.github.io/react-bs-datatable/?path=/story/controlled--async-pokemon

Can you help me?

Thank you!

[2022-07-29 10:47] imballinst commented on #147
Hello @twlai, apologies for the late reply!

Here is the source for the Async Pokemon one:

https://github.com/imballinst/react-bs-datatable/blob/59e1fbe617b0a184b6149fa868289bedf8084a84/src/__stories__/01-Controlled.stories.tsx#L43-L70

The `AsyncTable` is also implemented in the same file, which fires the `fetchFn` every time the page changes (unfortunately I think the API doesn't support text f

[2022-08-30 22:08] luizgdi opened #149 "Table body rows amount not changing"
Hey! First of all, tyvm for the great work! Now, about the problem: I cannot increase the amount of rows per page, it does work the other way around tho, if I initialize rowsPerPage with the biggest option (20) it does work as intended whenever I change rows per page, but if I initialize with the smallest option (10), no matter what I do, the table doesnt render more than 10 rows, I've checked and

[2022-08-31 01:01] luizgdi commented on #149
I went on with the dev, and then I realized sorting wasnt working as expected as well, then I started going over the lib components again and this little... well, as always, it was a tiny detail, I missed the `isControlled` prop in `DatatableWrapper`, after setting it to true seems like everything is working! My bad!

[2022-08-31 01:01] #149 closed

[2022-08-31 01:10] imballinst commented on #149
hey @luizgdi, glad you have sorted it out! Do you have suggestions regarding how this can be improved?

I'm thinking of logging a warning in each component that has `controlledProps` passed but the `isControlled` prop to `DatatableWrapper` isn't being passed on. Something like:

[code]

Please let me know your thoughts. Thanks!

[2022-08-31 11:40] luizgdi commented on #149
@imballinst yes! it would've saved my life 100%, will definatively help beginners to the lib to figure out that whenever they are controlling something, they must have that prop in the wrapper as well
btw ty for the quick reply!

[2022-09-01 01:12] imballinst commented on #149
@luizgdi sounds good, I'll find a time around this week to implement it. I'm aiming to emit console warning when `process.env.NODE_ENV === 'development'`, so that it can be removed during compilation. Thanks for the feedback!

[2022-09-01 01:13] imballinst opened #150 "[DX] When controlledProps are passed but isControlled is not passed, emit a console.warn"
Refer to this issue here: https://github.com/imballinst/react-bs-datatable/issues/149#issuecomment-1233617438

[2022-09-02 14:30] #150 closed

[2022-09-02 14:49] imballinst commented on #149
hey @luizgdi, I actually went on ahead with making `isControlled` not required anymore. Now when there is a child component with `controlledProps`, then it will make the table controlled. Sample demo here: https://codesandbox.io/s/react-bs-datatable-3-6-0-alpha-0-typescript-92e5k7?file=/src/App.tsx (you can try it locally by installing `react-bs-datatable@3.6.0-alpha.0`.

Please let me know what y

[2022-09-02 16:03] luizgdi commented on #149
@imballinst yo! oh yeah, I was tracking progress, had the alpha version running before you even commented lol, definatively better than the warnings! From my tests, everything working like a charm! Nice work!

[2022-09-03 00:35] imballinst commented on #149
@luizgdi alright, I'll release `3.6.0` in a bit. Thanks for the feedback again!

[2022-09-06 10:42] hefhem opened #153 "How to add buttons to rows/body e.g Edit button?"
Hi,

Please how can I add button or other actions at the row level. e.g. Edit button.

Thanks in advance

[2022-09-06 10:49] hefhem commented on #153
Never mind I found it here
https://codesandbox.io/s/fir1fw?file=/src/App.js:662-829

[2022-09-06 10:49] #153 closed

[2022-09-06 11:32] imballinst commented on #153
hello @hefhem, I'm glad you sorted it out!

To prevent this from happening in the future, I have added the example to the Sandbox from the README as well: https://codesandbox.io/s/react-bs-datatable-3-typescript-bn234b?file=/src/App.tsx. Hopefully this can improve the developer experience.

[2022-10-10 11:12] isabellachen opened #154 "Table does not sort when child is returned in <TableBody>"
I was playing around with this [code sandbox](https://codesandbox.io/s/brave-silence-tp0d5j?file=/src/App.js) from another closed issue here, trying to get the rows to sort, but no success.

It was working in version 3.3.1 but is no longer working in later versions.

The problem is when TableBody returns the TableRow instead of directly calling <TableBody />

[code]

[2022-10-10 11:25] imballinst commented on #154
Hey @isabellachen! Thanks for reporting this issue with sufficient description, I'll see what I can do.

[2022-10-10 11:36] imballinst commented on #154
hi @isabellachen, according to the [API reference](https://github.com/imballinst/react-bs-datatable/blob/main/api/interfaces/components_TableBody.TableBodyProps.md#children), where this is the source:

https://github.com/imballinst/react-bs-datatable/blob/0e2d53065055cf8ed211226b0c133a9124f2dcf0/src/components/TableBody.tsx#L69-L72

I think the children now should be a function rather than JSX ele

[2022-10-10 12:39] isabellachen commented on #154
That was it. Thank you so much for the quick response!

[2022-10-10 12:39] #154 closed

[2022-10-10 12:46] imballinst commented on #154
You are welcome @isabellachen! Thanks a lot for the sponsor, means a lot to me! 🙇‍♂️